{% extends "base.html" %}

{% block content %}
<h1>About our website</h1>
<p>Welcome to our website, where we focus on providing information about the potential risks associated with shell
    companies. Our mission is to help businesses and individuals protect themselves from the dangers posed by shell
    companies. We offer analyses and overviews that will help you identify and avoid risky firms. On our site, you will
    find a range of tools and resources to verify the transparency and credibility of companies. We strive to raise
    awareness of the possible financial and legal risks associated with shell companies. We regularly update our
    database and provide the latest information on trends and cases in the field of shell companies. Our site is
    designed for everyone who wants to do business responsibly and knowledgeably. We believe that increased transparency
    and awareness are key to a healthy business environment. Our goal is to support credibility and accountability in
    the business world so that we can create better conditions for everyone together.</p>
{% endblock %}