{% extends "base.html" %}

{% block title %}Database{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Companies Database</h1>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Year of Foundation</th>
                <th>Registered Office Address</th>
                <th>Registered Office City</th>
                <th>Executive Name</th>
                <th>Employee Count</th>
                <th>YoY Sales</th>
                <th>Tax Office Debt</th>
                <th>Social Insurance Debt</th>
                <th>Health Insurance Debt</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
            <tr>
                <td>{{ company.company_id }}</td>
                <td><a href="{% url 'company_detail' company.company_id %}">{{ company.company_name }}</a></td>
                <td>{{ company.year_of_foundation }}</td>
                <td>{{ company.registered_office_address }}</td>
                <td>{{ company.registered_office_city }}</td>
                <td>{{ company.executive_name }}</td>
                <td>{{ company.employee_count }}</td>
                <td>{{ company.YoY_increase_in_sales }}</td>
                <td>{{ company.tax_office_debt }}</td>
                <td>{{ company.social_insurance_agency_debt }}</td>
                <td>{{ company.health_insurance_company_debt }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}