{% extends "base.html" %}

{% block content %}
<h1>Welcome to SafeBusiness</h1>
<p>Our website provides in-depth information about the potential risks associated with shell companies. While often used
    for seemingly legal purposes, shell companies can pose significant risks, including fraud, money laundering, tax
    evasion, and concealing true ownership. The aim of the site is to raise awareness and provide useful tools and
    advice for identifying and minimizing the risks associated with these entities. Our resources and analyses are
    designed to help businesses, investors, and regulators make informed decisions and protect themselves from unethical
    practices.</p>
{% endblock %}