{% extends "base.html" %}

{% block content %}
<h1>Welcome to SafeBusiness</h1>
<p>Our website provides information and analysis on the potential risks associated with shell companies. We help
    individuals and businesses identify and avoid shell companies that may pose financial and legal risks. On our site,
    you will find tools and resources to verify the credibility of companies and their real owners. Our goal is to raise
    awareness of the risks associated with shell companies and promote transparency in business.</p>
{% endblock %}