/* General styles */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: url("/static/images/background_home.jpg") no-repeat center center fixed;
    background-size: cover;
}

main {
    flex: 1;
}

.container {
    width: 90%;
    max-width: 90vw;
    margin: 0 auto;
}

/* Navigation bar */
.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #343a40;
    padding: 0;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.navbar-brand {
    display: block;
    align-items: center;
    padding: 0;
}

.logo-nav {
    height: 60px;
    width: auto;
}

.navbar-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    color: #fff !important;
}

.navbar-toggler {
    border: none;
    background: none;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.collapse.navbar-collapse {
    background-color: #343a40;
}

/* Responsive adjustments for navigation bar */
@media (max-width: 991px) {
    .navbar-nav {
        text-align: center;
        width: 100%;
    }

    .nav-item {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .dropdown-menu {
        position: static;
        display: block;
    }

    .dropdown-menu-right {
        left: 0;
        right: auto;
    }
}

/* Main content */
.main-content {
    padding: 50px 0;
}

.intro {
    text-align: center;
    margin-bottom: 80px;
}

.intro h1 {
    font-size: 50px;
    margin: 0;
}

.intro p {
    font-size: 19px;
    color: #666;
}

.search-container {
    text-align: center;
    margin-bottom: 80px;
}

.search-container input {
    width: 100%;
    max-width: 50vw;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid #000000;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.search-container input:hover,
.search-container input:focus {
    border-color: #000;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    outline: none;
}

.description {
    padding: 0 20px;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    color: #666;
}

/* Footer */
.footer {
    background: #333; /* Čierne pozadie */
    color: #fff; /* Biele písmo */
    padding: 3px 1px; /* Padding pre footer */
    box-sizing: border-box;
    width: 100%;
}

/* Container pre footer */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}

/* Hlavný obsah footera */
.footer-content {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap; /* Umožní položkám zlomiť sa na novú čiaru pri menších obrazovkách */
}

/* Kontaktné informácie */
.contact-info {
    flex: 2;
    display: flex;
    align-items: center; /* Zarovnanie textu a odkazu na jednu úroveň */
    justify-content: center;
    gap: 1px;
}

/* Odkazy */
.legal {
    display: flex;
    align-items: center;
}

.legal a {
    color: #fff; /* Biele písmo pre odkazy */
    text-decoration: none;
    margin: 0 10px; /* Odstup medzi odkazmi */
}

.legal a:hover {
    text-decoration: underline;
}

/* Formulár na odber noviniek */
.newsletter-signup {
    flex: 2;
    display: flex;
    align-items: center; /* Zarovnanie inputu a formulára do jednej výšky */
    justify-content: center; /* Center formuláru v rámci priestoru */
    gap: 10px; /* Medzera medzi inputom a formulárom */
}

.newsletter-signup p {
    margin: 0; /* Odstránenie marginu pre p */
}

.newsletter-signup form {
    display: flex;
    align-items: center;
    margin: 0; /* Odstránenie marginu pre form */
}

.newsletter-signup input[type="email"] {
    padding: 5px; /* Menší padding pre zníženie výšky */
    border: 1px solid #555;
    border-radius: 4px;
    width: 200px; /* Šírka poľa pre e-mail */
    max-width: 100%;
    background: #444; /* Trochu svetlejšie pozadie pre input */
    color: #fff; /* Biele písmo v inpute */
    box-sizing: border-box;
}

/* Spodná časť footeru */
.footer-bottom {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 0px 0; /* Padding pre úzky footer */
    margin-top: 0px; /* Priestor nad spodnou časťou footera */
}

/* Pre menšie obrazovky */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .contact-info, .legal, .newsletter-signup {
        margin: 5px 0;
    }

    .newsletter-signup {
        gap: 5px; /* Menšia medzera medzi inputom a formulárom */
    }
}




/* Database page */
.container {
    width: 90%;
    max-width: 90vw;
    margin: 0 auto;
}

/* Table Styles */
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.table thead {
    background-color: #343a40;
    color: #fff;
}

.table thead th {
    padding: 10px;
    text-align: left;
}

.table tbody tr {
    border-bottom: 1px solid #ddd;
}

.table tbody td {
    padding: 10px;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #ddd;
}

.table a {
    color: #007bff;
    text-decoration: none;
}

.table a:hover {
    text-decoration: underline;
}

.table-bordered {
    border: 1px solid #ddd;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #ddd;
}

/* Statistics Results Styles */
.statistics-results,
.search-results {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 90vw;
}

.statistics-results h1,
.statistics-results h2,
.search-results h1,
.search-results h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.statistics-results h2 a,
.search-results h2 a {
    color: #007bff;
    text-decoration: none;
    font-size: 18px;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s ease;
}

.statistics-results h2 a:hover,
.search-results h2 a:hover {
    border-bottom: 1px solid #007bff;
    text-decoration: underline;
}

.results-container {
    text-align: center;
}

.results-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.results-container li {
    margin-bottom: 10px;
}

.results-container a {
    color: #007bff;
    text-decoration: none;
    font-size: 18px;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s ease;
}

.results-container a:hover {
    border-bottom: 1px solid #007bff;
    text-decoration: underline;
}

/* About Us Styles */
.about-container {
    background: url("/static/images/background_home.jpg") no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    padding: 20px 20px;
    margin: 0 0 20px 0;
}

.about-container h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
}

.about-container p {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
    text-align: justify;
    margin: auto;
    max-width: 90vw;
    padding: 0 20px;
}

/* LOGIN SIGNUP */
.form-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.form-text {
    font-size: 0.875rem;
    color: #6c757d;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

/* Top_10 styles */
.my-4 {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.table {
    margin-top: 20px;
    font-size: 1rem;
    width: auto;
}

.table-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.table thead th {
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
}

.table th, .table td {
    vertical-align: middle;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.table a {
    color: #007bff;
    text-decoration: none;
}

.table a:hover {
    text-decoration: underline;
}

/* Responsive adjustments for tables */
@media (max-width: 767px) {
    .table {
        font-size: 0.875rem;
        overflow-x: auto;
        display: block;
    }

    .table thead {
        display: none;
    }

    .table tbody, .table tbody tr, .table tbody td {
        display: block;
        width: 100%;
    }

    .table tbody tr {
        margin-bottom: 10px;
        border: 1px solid #ddd;
    }

    .table tbody td {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        position: relative;
    }

    .table tbody td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 10px;
        font-weight: bold;
        color: #000;
        text-align: left;
    }
}

/* Štýly pre Privacy Policy stránku */
/* Privacy Policy Page */
.privacy-container {
    max-width: 800px; /* Zabezpečí, že text nebude príliš široký */
    margin: 0 auto; /* Centerovanie kontejnera */
    padding: 20px; /* Padding okolo obsahu */
}

.privacy-container h1 {
    font-size: 2em; /* Väčšie písmo pre nadpis */
    margin-bottom: 20px; /* Priestor pod nadpisom */
    text-align: center; /* Centerovanie nadpisu */
    color: #333; /* Tmavo šedá farba pre lepšiu čitateľnosť */
}

.privacy-paragraph {
    font-size: 1em; /* Veľkosť písma pre odstavce */
    line-height: 1.6; /* Zlepšuje čitateľnosť textu */
    margin-bottom: 20px; /* Priestor medzi odstavcami */
    color: #555; /* Svetlo šedá farba textu */
}

.privacy-paragraph a {
    color: #007bff; /* Farba pre odkazy */
    text-decoration: none; /* Odstráni podčiarkovanie */
}

.privacy-paragraph a:hover {
    text-decoration: underline; /* Podčiarkovanie pri hover */
}

/* Terms of Service Page */
.terms-container {
    max-width: 800px; /* Zabezpečí, že text nebude príliš široký */
    margin: 0 auto; /* Centerovanie kontejnera */
    padding: 20px; /* Padding okolo obsahu */
}

.terms-container h1 {
    font-size: 2em; /* Väčšie písmo pre nadpis */
    margin-bottom: 20px; /* Priestor pod nadpisom */
    text-align: center; /* Centerovanie nadpisu */
    color: #333; /* Tmavo šedá farba pre lepšiu čitateľnosť */
}

.terms-paragraph {
    font-size: 1em; /* Veľkosť písma pre odstavce */
    line-height: 1.6; /* Zlepšuje čitateľnosť textu */
    margin-bottom: 20px; /* Priestor medzi odstavcami */
    color: #555; /* Svetlo šedá farba textu */
}

.terms-paragraph a {
    color: #007bff; /* Farba pre odkazy */
    text-decoration: none; /* Odstráni podčiarkovanie */
}

.terms-paragraph a:hover {
    text-decoration: underline; /* Podčiarkovanie pri hover */
}
