<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="contact-info">
                <p>Email: <a href="mailto:info@safebusiness.com">info@safebusiness.com</a></p>
            </div>

            <div class="legal">
                <a href="/privacy-policy">Privacy Policy</a>
                <a href="/terms-of-service">Terms of Service</a>
            </div>

            <div class="newsletter-signup">
                <p>Newsletter subscribe:</p>
                    <form action="{% url 'subscribe' %}" method="post">
                        {% csrf_token %}
                        <input type="email" name="email" placeholder="Your email address" required>
                    </form>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2024 SafeBusiness s.r.o. All rights reserved. Designed by M&R s.r.o.</p>
    </div>
</footer>
